<h1>Wikipedia Page View Comparison</h1>
<em><h4>Compare multiple pages side-by-side</h4></em>
<br>

<div class="row">
    <div class="col-md-6">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" 
                id="group-dropdown" data-toggle="dropdown" aria-expanded="true">
                Group by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="group-dropdown">
                <li role="presentation">
                    <a id="group-none" role="menuitem" tabindex="-1" href="#">None</a>
                </li>
                <li role="presentation">
                    <a id="group-day" role="menuitem" tabindex="-1" href="#">Day</a>
                </li>
                <li role="presentation">
                    <a id="group-month" role="menuitem" tabindex="-1" href="#">Month</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-6">
        <div class="control-group" id="fields">
            <div class="controls"> 
                <%= form_tag do %>
                    <%= submit_tag "", :style => "display: none;" %>
                    <div class="entry input-group col-xs-8">
                        <input class="form-control" name="page_titles[]" type="text" placeholder="Enter a page title" style="width: 320px;"/>
                        <span class="input-group-groupbtn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                <% end %>    
                <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field</small>
                <br>
            </div>
        </div>
    </div>
</div>

<div id="view-graph" style="height: 400px; min-width: 310px"></div>

<%= javascript_tag do %>
    window.page_titles = <%= raw @page_titles %>;
<% end %>
